/* 
  ====== Slider.css ======
  Slider styles ...
*/

.slideWrapper {
  position: relative;
  width: 100vw;
  height: clamp(16.5rem, 11.66rem + 17.6vw, 27.5rem);
}

.slider {
  --col-gap: var(--padding-global);
}

.slider {
  position: absolute;
  max-width: 100%;
  display: flex;
  column-gap: var(--col-gap);
  overflow-x: scroll;
  box-sizing: border-box;
  user-select: none;
}

.slider > div:last-child {
  margin-right: 8%;
}