/* 
  ====== Categories.css ======
  Contains styles of categories...
*/

.categories {
  --size: clamp(8.25rem, 6.93rem + 4.8vw, 11.25rem);
  --col-gap: var(--padding-global);
  --row-gap: var(--col-gap);
  --padding-right: var(--padding-content);
}

.categories .viewMore {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.25rem, 1fr));
  column-gap: var(--col-gap);
  row-gap: var(--row-gap);
  padding-right: var(--padding-right);
  width: 100%;
}

.categories .title {
  font-family: var(--font-family-primary);
  font-size: var(--text-3xl);
  font-weight: 600;
  padding-bottom: 1rem;
}

.categories .block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--size);
  border: 1px solid var(--col-grey-dark);
  border-radius: 0.25rem;
  cursor: pointer;
}

.categories .block.active {
  background-color: var(--col-primary-normal);
  color: var(--col-white-normal);
}

.categories .block:hover {
  background-color: var(--col-grey-normal);
}

.categories .block.active img {
  filter: invert(100%) grayscale(100%);
}

.categories .icon {
  height: 77.8px;
  width: 78.42px;
  padding-bottom: 1rem;
}

.categories .label {
  font-size: var(--text-lg);
  font-weight: 500;
  font-family: var(--font-family-primary);
}
