
.categories {
  padding: var(--padding-normal);
}
.viewMore {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  column-gap: 20px;
  width: 100%;
}

.categories .title {
  font-family: var(--font-family-primary);
  font-size: var(--text-3xl);
  font-weight: 600;
  padding-bottom: 1rem;
}
.categories .block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border: 1px solid var(--col-mediumGrey);
  border-radius: 10px;
}
.categories .icon {
  height: 77.8px;
  width: 78.42px;
  padding-bottom: 1rem;
}
.categories .label {
  font-size: var(--text-lg);
  font-weight: 500;
  font-family: var(--font-family-primary);
}
