
.categories {
  padding: var(--padding-normal);
}

.viewMore {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: 100%;
  place-items: center;
}


.categories .title {
  font-family: var(--font-family-primary);
  font-size: var(--text-4xl);
  font-weight: 600;
  padding-bottom: 1rem;
}
.categories .block {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 199px;
  height: 199px;
  border: 1px solid var(--col-mediumGrey);
  border-radius: 10px;
}
.categories .icon {
  height: 77.8px;
  width: 78.42px;
  padding-bottom: 1rem;
}
.categories .label {
  font-size: var(--text-lg);
  font-weight: 500;
  font-family: var(--font-family-primary);
}

  /* RESPONSIVE  */

 @media (max-width:700px) {
  .categories{
    padding: var(--padding-normal-m);
  }
    .categories .viewMore{
        row-gap: 20px;
        grid-template-columns:repeat(2,1fr); 
    }
} 

/* 
@media (max-width:440px){
  .categories .viewMore{
    grid-template-columns:repeat(2,1fr); 
  }
} */