
html {
  --col-primary: #444DFF;
  --col-accent: #BCB8FF;
  --col-secondary: #FFE100;
  --col-text: #050316;
  --col-white: #FFFFFF;
  --col-lightGrey: #F1F1F1;
  --col-xtraLightGrey: #F6F6F6;
  --col-grey: #636363;
}

.col {
  color: var(--col-text);
}

.bg {
  background-color: var(--col-white);
}

.col.primary {
  color: var(--col-primary);
}
.bg.primary {
  background-color: var(--col-primary);
}

.col.accent {
  color: var(--col-accent);
}
.bg.accent {
  background-color: var(--col-accent);
}

.col.lightgrey {
  color: var(--col-grey);
}
.bg.grey {
  background-color: var(--col-grey);
}

.col.lightGrey {
  color: var(--col-lightGrey);
}
.bg.lightGrey {
  background-color: var(--col-lightGrey);
}

.col.secondary {
  color: var(--col-secondary);
}
.bg.secondary {
  background-color: var(--col-secondary);
}