@import url(./colors.css);
@import url(./reset.css);
@import url(./tyography.css);
@import url(./spacing.css);
@import url(./header.css);
@import url(./productList.css);
@import url(./categories.css);

main {
  --padding-normal: 1.6rem 3.5rem;
  --padding-normal-m:1rem 1rem;
}

* {
  font-family: var(--font-family-primary);
}

.top.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: clamp(15.75rem, 10.9925rem + 17.3vw, 26.5625rem);;
  background-color: var(--col-text);
  overflow: hidden;
}

.top.banner img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: left center;
}

.top.banner .content {
  padding-left: 4.9rem;
  color: var(--col-white);
  z-index: 5;
}

.top.banner p.title {
  font-size: calc(var(--text-4xl) * 1.7);
  font-weight: 600;
  font-family: var(--font-family-primary);
}

.top.banner button.highlight {
  padding: 1rem 1.2rem;
  background: var(--col-primary);
  font-size: var(--text-2xl);
  color: inherit;
  border-radius: 0.5rem;
}

.top.banner .slideDots {
  position: absolute;
  display: flex;
  width: 100%;
  column-gap: 0.8rem;
  bottom: 10px;
  justify-content: center;
}

.top.banner .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--col-white);
}

.top.banner .dot.active {
  background-color: var(--col-primary);
}

<<<<<<< HEAD
   /* REPONSIVENESS FOR BANNER */
    @media (max-width:440px) {
    .top .content{
    padding: 10px; /*not been applied why*/
    }
    .top.banner img {
      top: 5%;
      right: -30%;
    }
   }
=======
.bestSelling .discount {
  visibility: hidden;
  pointer-events: none;
}
>>>>>>> 0af9e73d0e97f494c78c7f8f3ee70dbfe4cca73a
