
*,*::after,*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

*:focus-visible {
  outline: 2px solid var(--col-text);
}

a,a:visited {
  all: unset;
  cursor: pointer;
}